    .page-title {
        text-align: center;
        background-color: transparent;
        color: white;
        border-radius: 0;
        border-bottom: 5px solid black;
        padding: 20px;
        margin-bottom: 20px;
    }
    
    body {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
        background-color: #222629;
    }
    
    .search-label {
        padding: 5px;
        display: flex;
        color: white;
    }
    
    .form-inline {
        display: inline-block;
        width: 25%;
        padding: 5px;
    }
    
    .form-control {
        background-color: transparent;
        display: inline-block;
    }
    
    #current-weather {
        float: right;
        width: 75%;
        height: 500px;
        border: 1px solid rgb(199, 197, 197);
    }
    
    .clear-sky {
        background-size: auto;
        background: url('Assets\\photo-1531147646552-1eec68116469.jpg');
    }
    
    .mist {
        background-size: auto;
        background: url('Assets\\mist.png');
    }
    
    .broken-clouds {
        background-size: auto;
        background: url('Assets\\broken-clouds.png');
    }
    
    .moderate-rain {
        background-size: auto;
        background: url('Assets\\moderate-rain.jpg');
    }
    
    .table {
        width: 20%;
        display: flex;
        margin-top: 20px;
        background-color: transparent;
    }
    
    td {
        width: 20%;
        color: white;
    }
    
    .error-text {
        color: white;
        padding: 10px;
    }
    /* Mobile devices  */
    
    @media screen and (max-width: 1100px) {
        .page-title {
            text-align: center;
            background-color: transparent;
            color: white;
            border-radius: 0;
            border-bottom: 5px solid black;
            padding: 10px;
        }
        .form-inline {
            display: flex;
            width: 100%;
            padding: 5px;
            margin-bottom: 5px;
        }
        .form-control {
            background-color: transparent;
            display: inline-flex;
        }
        #current-weather {
            float: right;
            width: 100%;
            height: 500px;
            border: 1px solid rgb(199, 197, 197);
        }
        .table {
            width: 75%;
            display: inline-flex;
            margin-top: 20px;
            background-color: transparent;
        }
    }
    
    .white-text {
        color: white;
    }
    
    .city-name {
        padding: 10px;
        color: black;
    }
    
    .weather-image {
        width: 20px;
        height: 20px;
    }